<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="eng">
<head th:insert="partials/header :: head"/>
<link rel="stylesheet" th:href="@{/css/view-ads.css}">
<body>
<nav th:replace="partials/navbar :: navbar"/>


<div class="searchSection">
    <div class="d-flex row">
        <div class="col-12 col-md-4">
            <select name="searchByCategory" id="searchByCategory" class="searchSelect form-select">
                <option value="normal" selected>Search by Category</option>
                <option th:each="category : ${categories}" th:value="${category.id}"
                        th:text="${category.category}"></option>
            </select>
        </div>
        <form th:action="@{/search-ads}" method="GET" class="d-flex col-12 col-md-8 my-3 my-md-0">
            <input class="form-control me-2 " name="search" id="search" type="search" placeholder="Search"
                   aria-label="Search by title, description, or location">
            <button class="btn btn-outline-custom" type="submit">Search</button>
        </form>
    </div>
</div>

<div class="d-flex justify-content-center flex-wrap">
    <div th:each="ad : ${ads}" class="card m-2 clickable-div" style="width: 250px;" onclick="handleClick(this)"
         th:attr="id=${ad.id}">
        <div>
            <img th:src="${ad.getMainPhoto()}" class="card-img-top" alt="..." width="248"
                 height="248">
        </div>
        <div class="card-body">
            <h5 class="card-text" th:text="${ad.title}"></h5>
            <div class="d-flex justify-content-between">
                <p class="card-text my-0"><strong>$<span th:text="${ad.getFormattedPrice()}"></span></strong></p>
                <p>&bull; <span th:text="${ad.styleStatus()}" th:class="${'status-' + ad.getAdStatus().name()}"></span>
                </p>
            </div>
            <p class="card-text my-0"><small><span th:text="${ad.getTruncatedDescription()}"></span></small></p>
        </div>
    </div>
    <div th:if="${ads.isEmpty()}">
        <h3 class="text-center">No ads match this search :(</h3>
    </div>
</div>
<script src="/js/viewAds.js"></script>
</body>
</html>