body {
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    background: linear-gradient(to right,#31c5f3, #5558a5);

}

.button {
    background-color: #5558a5;
    color: white;
    width: 8em;
}

.register-section {
    /*width: 25em;*/
    /*position: fixed; !* or absolute *!*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    background-color: white;
    padding: 2em;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrapper-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.user-message {
    color: #212b43;
}