body {
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    background: linear-gradient(to right,#31c5f3, #5558a5);
}

.button {
    background-color: #5558a5;
    color: white;
    width: 8em;
}


.btn-outline-custom {
    border: 1px solid #212b43;
    color: #212b43;
    background-color: white;
    width: 10em;
}

.clickable-div {
    cursor: pointer;
}

.status-available {
    color: green;
}

.status-pending {
    color: orange;
}

.status-sold {
    color: red;
}


@media screen and (min-width: 1200px) {

    .searchSection {
        padding: 3em 10em;
    }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
    .searchSection {
        padding: 3em 6em;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .searchSection {
        padding: 3em 2em;
    }
}

@media screen and (min-width: 391px) and (max-width: 575px) {
    .searchSection {
        padding: 2em 1.5em;
    }
}

@media screen and (max-width: 390px) {
    .searchSection {
        padding: 2em 1.5em;
    }
}